<script>
  import { createEventDispatcher } from 'svelte';
  import { apiUrl } from '../utils/constants';

  const dispatch = createEventDispatcher(),
    folderCreated = (data) => {
      dispatch('folderCreated', { data });
    };

  export let path;

  const handleCreateFolder = () => {
    fetch(`${apiUrl.v1}/${path}/New folder`, {
      method: 'PUT'
    })
      .then((res) => folderCreated(res))
      .catch((err) => folderCreated(err));
  };
</script>

<style>
  .ActionsBar-container {
    width: 100vw;
    max-height: 4rem;
    background-color: var(--secondary-light);
  }

  .ActionsBar-button {
    margin: 0.5rem 1.5rem;
    border: 0;
    background-color: var(--white);
    color: var(--black);
    transition: 200ms all ease-in-out;
  }

  .ActionsBar-button:hover {
    background-color: var(--primary-light);
    color: var(--white);
  }
</style>

<div class='ActionsBar-container'>
  <button
    class='button ActionsBar-button'
    on:click={handleCreateFolder} >
    New folder
  </button>
</div>