<script>
  import { createEventDispatcher } from 'svelte';
  import { apiUrl } from '../utils/constants';

  const dispatch = createEventDispatcher(),
    fileUploaded = (data) => {
      dispatch('fileUploaded', { data });
    };

  export let path;

  const handleFileDrop = (event) => {
    const { files } = event.target;

    let formData = new FormData();
    for (let i = 0; i < files.length; i++) {
      formData.append('filesToUpload', files[i]);
    }

    fetch(`${apiUrl.v1}/${path}`, {
      method: 'POST',
      body: formData
    })
      .then((res) => fileUploaded(res))
      .catch((err) => fileUploaded(err));
  };
</script>

<style>
  .DragDrop-target {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
</style>

<div class='DragDrop-container'>
  <input class='DragDrop-target' type='file' multiple title=' '
    on:click={(e) => e.preventDefault()}
    on:change={handleFileDrop} />
</div>