<script>
import { getIcon } from '../utils/fileTypes';

  // props
  export let type;
  export let name;
  export let size = '';
  export let selected = false;
  const icon = getIcon(type);
</script>

<style>
  .FileTile-container {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 12rem;
    margin: 1rem;
    user-select: none;
    cursor: pointer;
    z-index: 2;
  }

  .FileTile-container.selected {
    background-color: var(--secondary-transparent);
  }

  .FileTile-container:hover {
    background-color: var(--secondary-transparent);
  }

  .FileTile-top {
    margin: 0 0 .5rem 0;
    padding: .3rem .8rem;
    width: 100%;
    height: 2rem;
  }

  .FileTile-size {
    display: block;
    float: left;
    margin-left: .5rem;
    font-size: .8rem;
    font-weight: bold;
    color: #aaa;
  }

  .FileTile-container:hover .FileTile-size {
    color: #666;
  }

  .FileTile-checkbox {
    display: block;
    float: right;
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    margin: 0;
    border-radius: 50%;
    background-color: #bbbbbb20;
  }

  .FileTile-container:hover:not(.selected) .FileTile-checkbox {
    background-color: #bbbbbb60;
  }

  .FileTile-container.selected .FileTile-checkbox {
    background-color: var(--secondary);
  }

  .FileTile-checkmark:after {
    content: '';
    display: none;
    position: absolute;
    left: 0.55rem;
    top: 0.3rem;
    width: 0.35rem;
    height: 0.65rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .FileTile-container.selected .FileTile-checkmark:after {
    display: block;
  }
  
  .FileTile-icon {
    margin: 0 auto;
    width: 8rem;
    height: 6rem;
  }

  .FileTile-bottom {
    margin: 0.5rem 0 0 0;
    padding: .3rem .8rem;
    width: 100%;
    height: 2rem;
  }

  .FileTile-name {
    height: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .FileTile-container:hover .FileTile-name {
    text-decoration: underline;
  }
</style>

<div class={`FileTile-container ${selected ? 'selected' : ''}`} on:click on:dblclick>
  <div class='FileTile-top'>
    {#if size}
      <p class='FileTile-size'>{size}</p>
    {/if}
    {#if name !== '..'}
      <span class='FileTile-checkbox'>
        <span class='FileTile-checkmark'></span>
      </span>
    {/if}
  </div>
  <img class='FileTile-icon' src={icon} alt='' />
  <div class='FileTile-bottom'>
    <p class='FileTile-name'>{name}</p>
  </div>
</div>
