<script>
document.addEventListener('DOMContentLoaded', () => {
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  if ($navbarBurgers.length > 0) {

    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const _target = document.getElementById(target);

        el.classList.toggle('is-active');
        _target.classList.toggle('is-active');

      });
    });
  }
});
</script>

<style>
  .Navbar-container {
    font-size: .9rem;
  }

  .Navbar-container,
  .Navbar-container .navbar-menu,
  .Navbar-container .navbar-dropdown,
  .Navbar-container .navbar-item {
    border: 0;
    background-color: var(--primary-dark);
    font-family: OpenSans, 'sans-serif';
    user-select: none;
  }

  .Navbar-logo {
    color: var(--secondary-light);
    font-family: Signika, 'sans-serif';
    font-size: 1.4rem;
  }

  .Navbar-container a.navbar-item,
  .Navbar-container a.navbar-link,
  .Navbar-container a.navbar-link::after,
  .Navbar-container .navbar-burger {
    color: var(--white);
    border-color: var(--white);
  }

  .Navbar-container a.navbar-item:hover,
  .Navbar-container a.navbar-link:hover,
  .Navbar-container a.navbar-link:hover::after,
  .Navbar-container div.navbar-item:hover .navbar-link,
  .Navbar-container div.navbar-item:hover .navbar-link::after {
    background-color: var(--white);
    color: var(--black);
    border-color: var(--black);
  }
</style>

<nav class='navbar Navbar-container' role='navigation' aria-label='main navigation'>
  <div class='navbar-brand'>
    <span class='navbar-item'>
      <img src='svg/logo/logo_white.svg' alt=''>
      &nbsp;
      <span class='Navbar-logo'>RaspiDrive</span>
    </span>

    <a role='button' class='navbar-burger' aria-label='menu' aria-expanded='false' data-target='Nav-content'>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
    </a>
  </div>

  <div id='Nav-content' class='navbar-menu'>
    <div class='navbar-start'>
      <a class='navbar-item'>
        Browse
      </a>

      <a class='navbar-item'>
        My Drive
      </a>

      <div class='navbar-item has-dropdown is-hoverable'>
        <a class='navbar-link'>
          More
        </a>

        <div class='navbar-dropdown'>
          <a class='navbar-item' href='https://gitlab.com/S7R1DER/raspi-drive' target='_blank'>
            About the project
          </a>
          <a class='navbar-item' href='https://www.patreon.com/s7r1der' target='_blank'>
            Support the developer
          </a>
          <hr class='navbar-divider'>
          <a class='navbar-item' href='https://gitlab.com/S7R1DER/raspi-drive/-/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=' target='_blank'>
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class='navbar-end'>
      <div class='navbar-item'>
        <button class='button is-light'>
          Log out
        </button>
      </div>
    </div>
  </div>
</nav>
