<script>
  import path from 'path-browserify';
  import DragDropArea from '../components/DragDropArea.svelte';
  import FileTile from '../components/FileTile.svelte';
  import { apiUrl, fileTypes } from '../utils/constants';
  import { simplifyPath } from '../utils/util'; 
  import { getFileType } from '../utils/fileTypes';
  import ActionsBar from '../components/ActionsBar.svelte';

  // props
  export let filePath = 'root';
  export let files = [];

  const loadDirectory = () => {
    fetch(`${apiUrl.v1}/${filePath}`, {
      method: 'GET',
      headers: {
        Accept: 'application/json',
      },
    })
      .then((res) => res.json())
      .then((res) => {
        files = res;
      })
      .catch((err) => { console.error(err) });
  };

  const handleSelectChange = (fileIndex) => {
    files[fileIndex].selected = !files[fileIndex].selected;
  };

  const handleOpenFile = (isDirectory, fileName) => {
    if (isDirectory) {
      filePath = simplifyPath(path.join(filePath, fileName));
      loadDirectory();
    }
  };

  const handleResponse = (response) => {
    console.info(response.detail.data);
    loadDirectory();
  };

  loadDirectory();
</script>

<style>
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-family: OpenSans, 'sans-serif';
  }
</style>

<div class='flex-container'>
  <ActionsBar
    path={filePath}
    on:folderCreated={handleResponse}
  />

  {#if filePath !== 'root'}
    <FileTile
      name='..'
      type={getFileType(true, fileTypes.BACK)}
      on:dblclick={() => handleOpenFile(true, '..')}
    />
  {/if}

  {#each files as file, index (file.name + index)}
    <FileTile
      size={!file.isDirectory && file.size}
      name={file.name}
      type={getFileType(file.isDirectory, file.extension)}
      selected={file.selected ? file.selected : false}
      on:click={() => handleSelectChange(index)}
      on:dblclick={() => handleOpenFile(file.isDirectory, file.name)}
    />
  {/each}

  <DragDropArea
    path={filePath}
    on:fileUploaded={handleResponse}
  />
</div>
