<script>
import Navbar from './components/Navbar.svelte';
import UserInteractArea from './containers/UserInteractArea.svelte';
</script>

<style>
  .App-container {
    width: 100%;
  }
</style>

<div class='App-container'>
  <Navbar />
  <UserInteractArea />
</div>
