:root {
  --white: #f8f2ee;
  --black: #4a4a4a;
  --primary: #b93da0;
  --primary-light: #cb5ab6;
  --primary-dark: #93307f;
  --primary-transparent: #b93da030;
  --secondary: #ff9c2e;
  --secondary-light: #ffb461;
  --secondary-dark: #fa8400;
  --secondary-transparent: #ff9c2e30;
}

html, body {
	width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

@font-face {
  font-family: SignikaLight;
  src: url('fonts/Signika/Signika-Light.ttf');
}

@font-face {
  font-family: Signika;
  src: url('fonts/Signika/Signika-Regular.ttf');
}

@font-face {
  font-family: SignikaSemiBold;
  src: url('fonts/Signika/Signika-SemiBold.ttf');
}

@font-face {
  font-family: SignikaBold;
  src: url('fonts/Signika/Signika-Bold.ttf');
}

@font-face {
  font-family: OpenSansLight;
  src: url('fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSansSemiBold;
  src: url('fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: OpenSansBold;
  src: url('fonts/OpenSans/OpenSans-Bold.ttf');
}
